- require 'YAML'
- data = YAML.load(File.read("./src/data.yaml"))


%section.full.text-center
    .row
        - data["posts"].each_with_index do |post, index|
            .card.col-lg-4
                %h1.display-4= post["title"]
                .content
                    %img.rounded-circle.w-25.mx-auto{src:"#{post['image']}"}
                    %br
                    %p
                        = post["text"]  
                    %a{href:"#{post['link']}"} more info..
