-@brand="brand"
-# Basic nav items/sections
-menu={"Link1":"url/link1", "Link2":"url/link2", "Link3":"url/link3", "Linkn":"url/link4"}

.navbar.navbar-expand-lg.navbar-dark.bg-dark
    %a.navbar-brand{href:"#"}= @brand
    %button.navbar-toggler.navbar-toggler-right{type:"button","data":{"toggle":"collapse", "target":"#MyNavbar" },  "aria":{"controls":"MyNavBar", "expanded":"true"}}
        %span.navbar-toggler-icon

    .collapse.navbar-collapse#MyNavbar
        %ul.navbar-nav
            -menu.each do |key,value|
                %li.nav-item
                    %a.nav-link{href:"#{value}"}= key
